MONGO_URI=mongodb://localhost:27017/WDP301-Electronic-shop
PORT=8080

HOST="localhost"
CLIENT_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173
NODE_ENV = development

#JWT
JWT_SECRET=

#MAILTRAP

FROM_NAME=Online Tech Shop
FROM_EMAIL=dinhdung2812@gmail.com

EMAIL_USER=dinhdung2812@gmail.com
EMAIL_PASS=llhd hjmf rjhx toag

BANK_TRANSFER_BANK_ID=TPB
BANK_TRANSFER_ACCOUNT_NO=03847457501
BANK_TRANSFER_ACCOUNT_NAME=TRAN DINH DUNG
BANK_TRANSFER_TEMPLATE=compact2

ZALOPAY_APP_ID=2554
ZALOPAY_KEY1=sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn
ZALOPAY_KEY2=trMrHtvjo6myautxDUiAcYsVtaeQ8nhf
ZALOPAY_ENDPOINT=https://sb-openapi.zalopay.vn/v2/create

CLOUDINARY_CLOUD_NAME=dfwmfxuiu
CLOUDINARY_API_KEY=176881335753838
CLOUDINARY_API_SECRET=y5TnvTfYbzGRUVNRmo65P1mCdsE

CLOUDINARY_PRODUCT_FOLDER=techsale/products
CLOUDINARY_CHAT_FOLDER=techsale/chat
CLOUDINARY_SUPPORT_FOLDER=techsale/support